<div>
    <table border = "1">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Options</td>
        </tr>
        </thead>
        <tbody>
         <tr *ngFor = "let user of users" >
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><button (click)= goToUserDetail(user.id)>Detail</button></td>
         </tr>
        </tbody>
      </table>
</div>
<router-outlet></router-outlet>