<div>
    <table border = "1">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Options</td>
        </tr>
        </thead>
        <tbody>
         <tr *ngFor = "let user of users" [class.selected]="user === selectedUser">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><button (click)="onSelect(user)">Detail</button></td>
         </tr>
        </tbody>
      </table>
</div>
<userdetail [user]="selectedUser"></userdetail>